.row .col {
  min-height: 100vh;
}

.col-container {
  margin-bottom:0;
}

.collection, .collapsible {
  border:none;
}

.collection-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.collection-item i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}
