/* Google Icons Font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.row .col {
  min-height: 100vh;
  max-height: 100vh;
}

.pane {
  max-height: calc( 100vh - 64px );
  overflow-y: auto;
  overflow-x: hidden;
}

.col-container {
  margin-bottom:0;
}

.collapsible-body {
  padding: 1rem;
}

.collection,
.collapsible {
  border:none;
}

.collection-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.collection-item i {
  width: 2rem;
  font-size: 1.6rem;
  display: inline-block;
  text-align: center;
  margin-right: 1rem;
}

.collection-item.avatar.file_item,
.collection-item.avatar.asset_folder_item {
  background-color: #212121;
  color: white;
}

.collection-item.avatar.file_item .secondary-content,
.collection-item.avatar.asset_folder_item .secondary-content {
  margin-right: 0;
  top: 10px;
  color: white;
  text-shadow:
    -1px -1px 0 rgba(33, 33, 33, .25),
     1px -1px 0 rgba(33, 33, 33, .25),
    -1px  1px 0 rgba(33, 33, 33, .25),
     1px  1px 0 rgba(33, 33, 33, .25),
    -2px  0px 0 rgba(33, 33, 33, .25),
     2px  0px 0 rgba(33, 33, 33, .25),
     0px -2px 0 rgba(33, 33, 33, .25),
     0px  2px 0 rgba(33, 33, 33, .25),
    -2px -2px 0 rgba(33, 33, 33, .25),
     2px -2px 0 rgba(33, 33, 33, .25),
    -2px  2px 0 rgba(33, 33, 33, .25),
     2px  2px 0 rgba(33, 33, 33, .25),
    -3px  0px 0 rgba(33, 33, 33, .25),
     3px  0px 0 rgba(33, 33, 33, .25),
     0px -3px 0 rgba(33, 33, 33, .25),
     0px  3px 0 rgba(33, 33, 33, .25);
}

.collection-item.avatar .secondary-content {
  margin-right: 0;
  top: 10px;
  text-shadow:
    -1px -1px 0 rgba(256, 256, 256, .25),
     1px -1px 0 rgba(256, 256, 256, .25),
    -1px  1px 0 rgba(256, 256, 256, .25),
     1px  1px 0 rgba(256, 256, 256, .25),
    -2px  0px 0 rgba(256, 256, 256, .25),
     2px  0px 0 rgba(256, 256, 256, .25),
     0px -2px 0 rgba(256, 256, 256, .25),
     0px  2px 0 rgba(256, 256, 256, .25),
    -2px -2px 0 rgba(256, 256, 256, .25),
     2px -2px 0 rgba(256, 256, 256, .25),
    -2px  2px 0 rgba(256, 256, 256, .25),
     2px  2px 0 rgba(256, 256, 256, .25),
    -3px  0px 0 rgba(256, 256, 256, .25),
     3px  0px 0 rgba(256, 256, 256, .25),
     0px -3px 0 rgba(256, 256, 256, .25),
     0px  3px 0 rgba(256, 256, 256, .25);
}

.full_name {
  word-break: break-all;
}
